@model ApartmentRentalSystem.Domain.Entities.UserRole

@{
    ViewData["Title"] = "Деталі ролі";
}

<div class="container mt-4">
    <h2 class="text-primary fw-bold">Деталі ролі</h2>
    <hr />

    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3 fw-bold text-muted">Назва ролі:</dt>
                <dd class="col-sm-9 fs-5">@Html.DisplayFor(model => model.Name)</dd>

            </dl>
        </div>
        <div class="card-footer bg-light d-flex gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning shadow-sm px-4">
                Редагувати
            </a>
            <a asp-action="Index" class="btn btn-outline-secondary shadow-sm">
                Назад до списку
            </a>
        </div>
    </div>
</div>

