@model IEnumerable<ApartmentRentalSystem.Domain.Entities.UserRole>

@{
    ViewData["Title"] = "Ролі користувачів";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary fw-bold">Ролі користувачів</h2>
        <a asp-action="Create" class="btn btn-primary shadow-sm">Додати нову роль</a>
    </div>

    <table class="table table-hover border shadow-sm">
        <thead class="table-light">
            <tr>
                <th>Назва ролі</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold">@item.Name</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Змінити</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Деталі</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Видалити</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>