@model ApartmentRentalSystem.Domain.Entities.ReservationHistory

@{
    ViewData["Title"] = "Додати запис до історії";
}

<h1>Створити</h1>

<h4>Історія бронювання</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReservationId" class="control-label"></label>
                <select asp-for="ReservationId" class="form-control" asp-items="ViewBag.ReservationId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ChangedById" class="control-label"></label>
                <select asp-for="ChangedById" class="form-control" asp-items="ViewBag.ChangedById"></select>
            </div>

            <div class="form-group">
                <label asp-for="ChangeType" class="control-label"></label>
                <input asp-for="ChangeType" class="form-control" />
                <span asp-validation-for="ChangeType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ChangedAt" class="control-label"></label>
                <input asp-for="ChangedAt" class="form-control" />
                <span asp-validation-for="ChangedAt" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}